@tailwind base;
@tailwind components;
@tailwind utilities;

/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('/fonts/noto-sans-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/noto-sans-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* noto-sans-700 - latin */
@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
            url('/fonts/noto-sans-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('/fonts/noto-sans-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@layer components {
    body {
        @apply font-noto-sans;
    }

    /* Utility */
    .bg-glassmorphic {
        @apply bg-gray-50 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-75;
    }
    .link {
        @apply hover:underline;
    }
    .shadowed {
        -webkit-filter: drop-shadow(3px 3px 10px #222);
        filter: drop-shadow(3px 3px 5px #222);
    }
    .shadow-bold {
        -webkit-box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 60%);
        -moz-box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 60%);
        box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 60%);
    }
    .shadow-bolder {
        -webkit-box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 60%);
        -moz-box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 60%);
        box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 60%);
    }
    .position-unset {
        position: unset;
    }
    .rupee::before {
        content: '₹';
    }

    /* Title */
    .title {
        @apply font-semibold text-lg md:text-xl;
    }
    .subtitle {
        @apply font-medium text-lg md:text-xl;
    }
    .title-lg {
        @apply font-noto-sans-bold text-2xl md:text-3xl my-3;
    }

    /* Button */
    .btn {
        @apply text-center font-noto-sans-bold rounded-lg outline-none;
    }
    .btn-primary {
        @apply bg-classy-golden text-black hover:bg-classy-slate hover:text-gray-100 transition-colors duration-300 disabled:bg-classy-slate disabled:text-gray-100;
    }
    .btn-secondary {
        @apply bg-classy-slate text-black hover:bg-classy-golden transition-colors duration-300 disabled:bg-classy-white disabled:text-gray-100;
    }
    .btn-disabled {
        @apply bg-classy-lightGolden text-gray-900 cursor-not-allowed;
    }
    .btn-sm {
        @apply px-2 py-1 text-sm;
    }
    .btn-md {
        @apply px-3 py-2 text-base;
    }

    /* Input */
    .input {
        @apply p-2 rounded-md bg-classy-white focus:ring-2 ring-classy-slate focus:outline-none border-2 border-classy-slate;
    }
    .input-label {
        @apply text-black font-noto-sans-bold;
    }

    /* Animations */
    .animate-rotate-center {
        animation: rotate-center 500ms
            cubic-bezier(0, 0, 1, 1) infinite;
        transform-origin: center center;
    }
    @keyframes rotate-center {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    /* Shadows */
    .text-shadow {
        text-shadow: 0px 0px 8px black;
    }
    .text-shadow-md {
        text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
        text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
        text-shadow: none;
    }

    /* PizzaItem */
    .bg-shadow {
        background-image: url(/images/other/shadow.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    /* Drawer */
    .drawer {
        transition: all 330ms ease-out;
    }
    .drawer-open {
        transform: translateX(0%);
    }
    .drawer-close {
        transform: translateX(-100%);
    }

    /* Home */
    .category-title {
        @apply whitespace-nowrap font-sans font-semibold text-sm uppercase px-4 py-1 border-2 border-transparent hover:border-classy-slate cursor-pointer transition-colors duration-300;
    }
    .category-selected {
        @apply border-classy-slate border-2;
    }
}